<!--
<form class="generator row">
  <div class="col-sm-4">
    <input type="text" name="inputs" class="inputs form-control" placeholder="inputs">
  </div>
  <div class="col-sm-4">
    <input type="text" name="hiddens" class="hiddens form-control" placeholder="hiddens">
  </div>
  <div class="col-sm-4">
    <input type="text" name="outputs" class="outputs form-control" placeholder="outputs">
  </div>
  <div class="col-sm-4 offset-sm-4">
    <label></label>
    <button type="submit" class="btn btn-primary btn-block btn-lg">Create <i class="ion-android-arrow-forward"></i></button>
  </div>
</form>
<hr />
-->

<form class="smite row">
  <div class="col-12 col-sm-4">
    <p><textarea rows="10" name="input" placeholder="input" class="input form-control"></textarea></p>
  </div>
  <div class="col-12 col-sm-4">
    <p><textarea rows="10" name="output" placeholder="output" class="output form-control"></textarea></p>
  </div>
  <div class="col-12 col-sm-4">
    <p><textarea rows="10" name="results" placeholder="results" class="results form-control"></textarea></p>
  </div>
  <div class="col-sm-4 offset-sm-4">
    <p><button type="submit" class="btn btn-primary btn-block btn-lg">Create <i class="ion-android-arrow-forward"></i></button></p>
  </div>
</form>

<hr />

<div class="networks row">
  <div class="card-group">
    
  </div>
</div>