<form class="smite row network">
  <div class="col-12 col-sm-6">
    <p><textarea rows="10" name="input" placeholder="input" class="inputs form-control"></textarea></p>
    <div class="input-display row">
      <div class="col-6 text-center">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <br />
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="col-6 text-center">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <br />
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6">
    <p><textarea rows="10" name="output" placeholder="output" class="outputs form-control"></textarea></p>
    <div class="output-display">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="col-sm-3">
    <p><button type="fetch" class="fetch btn btn-default btn-block btn-lg">Fetch Data <i class="ion-archive"></i></button></p>
  </div>
  <div class="col-sm-3">
    <p><button type="add" class="add btn btn-default btn-block btn-lg">Add to Set <i class="ion-plus"></i></button></p>
  </div>
  <div class="col-sm-3">
    <p><button type="train" class="train btn btn-default btn-block btn-lg">Train <i class="ion-fork-repo"></i></button></p>
  </div>
  <div class="col-sm-3">
    <p><button type="submit" class="run btn btn-primary btn-block btn-lg">run <i class="ion-right-arrow-b"></i></button></p>
  </div>
</form>

<hr />

<div class="networks row">
  <div class="card-group">
    
  </div>
</div>